<%- include('header.ejs') %>

<div class="main">
    <div class="container">  
    <% if ( movieData.Error){%>
        <div class="popup-wrapper" id="popup">
            <div class="popup">
                <div class="popup-message">
                    <img src="/images/error.png" alt="">
                    <h2><%= movieData.Error %></h2>
                    <p>You will be redirected to the home screen</p>
                </div>
                <div class="popup-buttons">
                    <a class="btn view" id="redirect-homepage-btn" href="/">Go back</a>
                </div>
            </div>
        </div>
    <%} else {%>
            <!-- Side nav Code START -->
        <div class="movie-details-screen">
            <div class="movie-side-nav">
                <img src="<%= movieData.Poster %>" alt="title">
                <div class="sidebar-content">
                    <h2><%= movieData.Title %> </h2>
                    <div class="sidebar-content-inner">
                        <p>Type: <%= movieData.Type %></p>
                        <span class="vertical-bar"></span>
                        <p>Year: <%= movieData.Year %></p>
                    </div>
                </div>    
            </div>
            <!-- Side nav Code END -->
    
            <!-- main content code START-->
            <div class="movie-details-content">
                <h1>About the Movie</h1>
                <h2><%= movieData.Title %></h2>
                <div class="movie-details-content-inner">
                    <p>Genre : <%= movieData.Genre %></p>
                    <span class="vertical-bar"></span>
                    <p>Type : <%= movieData.Type %></p>
                    <span class="vertical-bar"></span>
                    <p>Released : <%= movieData.Released %></p>
                </div>
                <h2>Plot</h2>
                <p>Plot : <%= movieData.Plot %></p>
                <div class="movie-casts">
                    <h3>Cast</h3>
                    <p><%= movieData.Actors %></p>
                </div>
                
                <div class="movie-buttons">
                    <% if (pagetype == "new-movie"){%>
                        <a class="btn watch-list" href="/add-to-watchlist" id="mark-to-watch">Add to Watchlist</a>
                        <a class="btn watched" href="/add-to-watched" id="mark-watched">Watched</a>
                    <% } else if (pagetype == "view-movie"){ %>
                        <% if (listType == 'watched-movies'){%>
                            <button class="delete btn" onclick="deleteConfirmation('/watched-movies/delete/<%= movieData.imdbID%>')"><img src="/images/trash.png" alt=""></button>
                            <% } else if (listType === 'watch-list'){%>
                            <button class="delete btn" onclick="deleteConfirmation('/watch-list/delete/<%= movieData.imdbID%>')"><img src="/images/trash.png" class="btn-img" alt=""></button>
                        <% } %>
                    <%}%>
                </div>
            </div>
            <!-- main content code END-->
        </div>
        <%}%>
    </div>
</div>

<div class="popup-wrapper display-none" id="popup">
    <div class="popup">
        <button class="close-popup" onclick="deleteConfirmation()"><img src="/images/cross.png" alt=""></button>
        <div class="popup-message">
            <img src="/images/delete.png" alt="">
            <h2>Delete movie</h2>
            <p>Are you sure you want to delete this movie?</p>
        </div>
        <div class="popup-buttons">
            <button class="btn view" onclick="deleteConfirmation()">Cancel</button>
            <button class="btn delete" id="delete-btn">Delete</button>
        </div>
    </div>
</div>

<script>
function deleteConfirmation(deleteUrl){
    const deleteLink = deleteUrl;
    document.getElementById('popup').classList.toggle('display-none')
    
    document.getElementById("delete-btn").addEventListener("click", function(){
    const base_url = window.location.origin
    window.location.replace(base_url + deleteLink)
})};

function displayError(){
     document.getElementById('popup').classList.toggle('display-none')
     window.location.replace(deleteLink)
}  
</script>

<%- include('footer.ejs') %>