<%- include('header.ejs') %>

<div class="main">
    <div class="container">
        <div class="watched-list">
            <h1><%=title %></h1>
            <% moviesDetails.forEach(movie => {%> 
                <div class="entry">
                    <ul>
                        <li>
                        <% if (listType == 'watched-movies') {%>
                            <a href="/watched-movies/view/<%= movie.imdbID%>"><img src="<%=movie.Poster %>" alt=""></a>
                        <% } else if (listType == 'watch-list') {%>
                            <a href="/watch-list/view/<%= movie.imdbID%>"><img src="<%=movie.Poster %>" alt=""></a>
                        <% }%>
                        </li>
                        <li>Title <br> <%=movie.Title %> </li>
                        <li>Genre <br> <%=movie.Genre %> </li>
                        <li>Release Date <br> <%=movie.Released %> </li>
                        <div class="list-buttons">
                            <% if (listType == 'watched-movies') {%>
                                <a href="/watched-movies/view/<%= movie.imdbID%>" class="view btn">View</a>
                                <button class="delete btn" onclick="deleteConfirmation('/watched-movies/delete/<%= movie.imdbID%>')"><img src="/images/trash.png" alt=""></button>
                            <% } else if (listType == 'watch-list') {%>
                                <a href="/watch-list/view/<%= movie.imdbID%>" class="view btn" >View</a>
                                <button class="delete btn" onclick="deleteConfirmation('/watch-list/delete/<%= movie.imdbID%>')"><img src="/images/trash.png" alt=""></button>
                            <% }%>
                        </div>
                    </ul>
                </div>
            <%}); %>
            
        </div>
    </div>
</div>

<div class="popup-wrapper display-none" id="popup">
    <div class="popup">
        <button class="close-popup" onclick="deleteConfirmation()"><img src="/images/cross.png" alt=""></button>
        <div class="popup-message">
            <img src="/images/delete.png" alt="">
            <h2>Delete movie</h2>
            <p>Are you sure you want to delete this movie?</p>
        </div>
        <div class="popup-buttons">
            <button class="btn view" onclick="deleteConfirmation()">Cancel</button>
            <button class="btn delete" id="delete-btn">Delete</button>
        </div>
    </div>
</div>

<script>
function deleteConfirmation(deleteUrl){
    const deleteLink = deleteUrl;
    document.getElementById('popup').classList.toggle('display-none')
    
    document.getElementById("delete-btn").addEventListener("click", function(){
    const base_url = window.location.origin
    window.location.replace(base_url + deleteLink)
});

}




</script>
<%- include('footer.ejs') %>